/*estilo para el encabezado*/
header{
    background-color: rgb(10, 204, 204);
    padding: 20px;
    text-align: center;
    color: black;
}
/*estilo para la barra de navegacion*/
nav a{
    color: black;
    text-decoration: nome;
    margin: 0 15px;
    font-weight: bold;
}
nav a:hover{
    color: chocolate;
}
/*estilo para la seccion principal*/
.contenedor{
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(67, 67, 207);
}
.contenedor h2{
    color: #333;
}
}
.contenedor h2{
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
